body{
    font-family :"Noto Sans KR", sans-serif;
}
.map_container{
	position: relative;
    width: 100vw;
    height: 92vh;
    overflow: hidden;
}
#map{
    width: 100vw;
    height: 100vh;
    float: right;
    position: initial;
}
.rating-group { display: inline-flex; margin-right: 23px;}
.rating__icon { pointer-events: none; }
.rating__input { position: absolute !important; left: -9999px !important; }
.rating__label { cursor: pointer; padding: 0 0.1em; font-size: 14; }
.rating__icon--star { color: #fcdd03; }
.rating__icon--star2 { color: lightgray; }
.rating__icon--none { color: #eee; }

.slide_container{
    flex-direction: row;
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 60vw;
}

.slide{
	width: 23vw;
    height: 93vh;
    float: left;
    background-color: rgb(242 244 245);
    -webkit-transition: width 1s;
    transition: width 1s;
}

.hide{
    width: 0vw;
}


.slide_res{
	width: 22vw;
    height: 93vh;
    float: left;
    background-color: rgb(255 255 255);
    -webkit-transition: width 1s;
    transition: width 1s;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f2f4f5;
}
.slide_res div{
    padding-inline-start: 23px;
    height: auto;
    background: white;
}

#resShortOpt{
   width: 95%;
   height: 160px;
}
#resShortOpt table>tr{
   height: 10px;
}
#resLongOpts{
    width: 100%;
    height: 160px;
    margin: 30px auto;
}

.slide_res table>td{
    height: 50px; 
    border: 1px solid;   
}

.slide_res>table>td:nth-child(1){
    text-align: left;
}
.slide_res>table>td:nth-child(2){
    text-align: center;
}
.slide_res>table>td:nth-child(3){
    text-align: right;
}

#res_p{
   width: 100%;
   height: 32px;
   margin: 0;
   padding-block-start: 17px;
   padding-block-end: 13px;
   background-color: var(--key-text);
   font-weight: 700;
   color: rgb(249 249 249);
   font-size: 16px;
}
}

.htdres{
    font-weight: 700;
    border-bottom: 1px solid var(--gray-color);
}

.slide_success{
    width: 20vw;
    height: 90vh;
    float: left;
    background-color: rgb(255 255 255);
    -webkit-transition: width 1s;
    transition: width 1s;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/respop.jpg);
    border-right: 4px solid white;
}

.slide_success h3{
	text-align: center;
    font-size: 25px;
    padding-block-start: 103px;
    margin-bottom: 2px;
}
.slide_success p{
    font-size: 14px;
    padding-block-end: 220px;
    margin: 0;
    text-align: center;
}

.res_child{
	padding-inline-start: 35px;
    padding-inline-end: 35px;
}

.res_child p{
	font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
}



#res_return{
	width: 99px;
    height: 42px;
    left: 231px;
    top: 907px;
    background: var(--gray-color);
    border-radius: 25px;
    margin: 8% 7% 4%;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

#res_return:hover{
	background-color: var(--key-text);
    color: white;
    font-weight: 500;
}

#res_check{
	width: 99px;
    height: 42px;
    left: 231px;
    top: 907px;
    background: var(--gray-color);
    border-radius: 25px;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

#res_check:hover{
	background-color: var(--key-text);
    color: white;
    font-weight: 500;
}

.contBtn{
    display: inline;
}

.foldBtn{
    position: absolute;
    transform: translateY(-140%);
    z-index: 10;
    top: 47%;
    height: 70px;
    width:30px;
    background-color: white;
    color: var(--text-gray);
    font-size:15px;
    border: 0px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-left:none;
}
.expand{ 
    display: none;
 }

.res{
    transform: translateY(-140%);
}
.map_logo{
    width: 30%;
    float: left;
    margin: 20px 30px 0 20px;
}
.slide_top{
	padding-block-start: 18px;
	width: 23vw;
	height: 188px;
	background-color: white;
	float: right;
	box-shadow: lightgrey 0px 2px 16px -3px;
}
.here{
    margin-left: 30px;
    margin-bottom: 21px;
    font-size: 15px;
    height: 12px;
    width: auto;
    margin-top: 5px;
}

.input_search{
    margin-left: 13px;
    padding :10px 20px 10px;
    width:65%;
    float:left;
    height: 30px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top : 3px solid var(--key-text);
    border-bottom : 3px solid var(--key-text);
    border-left : 3px solid var(--key-text);
    border-right: 0px  none;
    background-color:white;
    font-size:16px;

 }

.input_searchBtn{    
    color: var(--key-text);
    width: 15%;
    float:left;
    font-size:20px;
    height: 56px;
    padding :10px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top : 3px solid var(--key-text);
    border-bottom : 3px solid var(--key-text);
    border-right:3px solid var(--key-text);
    border-left: 0px  none;
    background-color:white;
}

.tag p{
	font-size: 23px;
    margin: 27px 0 0 29px;
    float: left;
    font-weight: bolder;
}

.slide_ul{
    text-decoration: none;
    list-style: none;
    font-size: 11px;
    padding: 10px;
}

.slide_ul > li{
    display: inline;
    font-size: 14px;
    margin-left: 10px;
}

.slide_mini{
    margin-left: 20px;
    font-size: 13px;
}

.place_name{
    overflow: hidden;
    height: 21px;
    width: 200px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.item{
}

.item tr:nth-child(1) td{
   font-size:18px;   
   font-weight:500;   
}

.item tr:nth-child(2) td{
   font-size:16px;   
   font-weight:500;   
}

.item tr:nth-child(3) td{
   font-size:16px;   
   font-weight:500;   
}

.item tr:nth-child(4) td{
   font-size:16px;   
   font-weight:500;   
}



.footer{
    margin-top: 33px;
    width: 23vw;
    float: right;
    height: 80%;
    border: solid 1px var(--gray-color);
    background-color: var(--background-gray);
    margin-bottom:30px;
    overflow-y: scroll;
    padding: 0;
}
.list{
    background-color: white;
}
.list ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.list li{
    display: inline;
    font-size: 14px;
    
}
.searchtag :nth-child(1) {
   float: left;
    font-size: 14px;   
}

.searchtag :nth-child(2) {
   float: right;
    margin-right: 10%;
    font-size: 12px;   
}

.searchtag :nth-child(3) {
   float: right;
    margin-right: 10%;
    font-size: 12px;   
}
.slide_card{
    margin-top: 22px;
    height:auto;
}
.slide_card table{
    width: 88%;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 14px;
    margin-top: 17px;
}

#placesList{
    margin: 4%;
}

/* single_list */
.single{
     display: none;
} 

.card{
    width: 100%;
    height: 64%;
    background-color: white;
    box-shadow: 1px 3px 21px 1px lightgrey;
    margin-bottom: 25px;
    position: relative;
}


.btn{
    border:0px;
    width: 50%;
    float: left;
    height: 40px;    
    background-color: white;
    font-size: 16px;
}

.cardinfo{
    width: 100%;
    height: 65%;
    margin-bottom: 45px;
}

.btnSet{
	width:100%;
	position: absolute;
	margin: 3% auto;
	text-align: center;
}

.btnSet button{
    width: 116px;
    height: 52px;
    background: var(--gray-color);
    border-radius: 51px;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    /* margin-top: 7%; */
    margin: 17px;
}

.resbtn{
    
}

.resbtn:hover{
    background: var(--key-text);
    color: white;
    font-weight: 500;
}

.mapChat:hover{
    background: var(--key-text);
    color: white;
    font-weight: 500;
   
}
.likeThis{
	/* color: lightgray; */
	font-size: 30px;
	border: 0;
	z-index: 5;
	background-color: white;
	top: 21px;
	right: 17px;
	float: right;
	position: absolute;
	    background: none;
}
.backList{
    color: var(--black-color);
    font-size: 15px;
    border: 0;
    z-index: 5;
    top: 212px;
    left: 0vw;
    float: right;
    position: absolute;
    margin-left: 10px;
    font-size: smaller;
    background: none;
    font-weight: bold;
    display: none;
}

#s_title{
	    font-weight: 700;
    font-size: 25px;
    color: rgb(83, 83, 83);
    text-align: center;
    margin: 12px 0 12px;
    overflow: hidden;
    height: 35px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* float: left; */
    /* margin-left: 19%;*/
    
}

#s_star{
    margin-left: 28px;
    width: 83%;
    text-align: center;
    height: 30px;
    display: flow-root;
}

#reservation{
    margin: 20px 0 0 35%;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 0;    
    border-radius: 56px;
}


#single_table{
    padding-block: 20px;
    padding-left: 31px;
    width: 94%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-inline-start: 36px;
    background-color: white;
   /* border-top:  2px solid var(--key-text);*/
    margin-left: 10px;
    box-shadow: 1px 3px 15px 1px lightgray;
}

#single_table td{
    font-size: 16px;
    height: 40px;
}

.tag_kkaekkt{
    border-radius: 60px;
    width: 50%;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: var(--key-text);
    border: 0px;
    padding-inline: 13px;
}



.moreinfo{
    margin-top: 20px;
    width: 94%;
    height: auto;
    background-color: white;
    padding-block: 1px;
    padding-bottom: 32px;
    margin-left: 10px;
    margin-bottom: 80px;
    box-shadow: 1px 3px 15px 1px lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.more_title{
    height: 24px;
    color: var(--key-text);
    font-style: normal;
    font-size: 19px;
    text-align: center;
    margin: 18px;
}

#single_option{
    width: 80%;
    margin-left: 8%;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
}

#single_option th{
  padding-top: 20px;
  padding-bottom: 20px
}

#single_option td{
	padding-bottom: 10px
}

/* ????------------------------ */
.infoBtn{
    width: 47%;
    height: 45px;
    float: left;
    border: 0px;
    font-size: 16px;
    background-color: var(--gray-color);
    color: var(--text-gray);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
#infoData{
	margin-left: 10px;
}

.checked{
    background: var(--key-text);
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 2px solid var(--key-text);
    border-left: 2px solid var(--key-text);
    border-right: 2px solid var(--key-text);
}

/* box */
.cominfo{
    width: 94%;
    height: auto;
    border-left: 2px solid var(--key-text);
    display: none;
}

.comhead{
    width: 100%;
    height: 20px;
    float: left;
    background-color: white;
    text-align: center;
    padding-block-start: 26px;
    margin-left: 10px;
}

.latest{
    font-size: 13px;

}

.grade{
    font-size: 13px;

}

.allCom{
    width: 80px;
    display: inline;
    margin-left: 30%;
}

.combody{
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0  0 50% 10px;
    padding-block-end: 20%;
    background-color: white;
    box-shadow: -2px 17px 20px 0px lightgrey;
}

.combodyul{
    width: 100%;
    height: 41px;
    display: inline-block;
    margin: 10% 0 0 9%;
}
.combodyul li:nth-child(1){
    font-size: 14px;
    font-weight: 600;
}
.combodyul li:nth-child(2){
    color: lightgray;
    font-size: 11px;
    
}

.combodyul li:nth-child(3){
    margin-top: 10px;
}

.comment{
   width: 80%;
    height: 58px;
    border: 0px;
    margin: 0;
    font-size: 14px;
}

.res_totalprice{
   display: none;
}

.res_loading {
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 999;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 250px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    font-size: 14px;
    display: none;
    }

  .dot {
    padding-top: 7px;
  }
  
  .res_loading i {
    display: inline-block;
    background-color:var(--key-color);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 15px;
    animation: size 0.3s alternate infinite;
  }
  
  .res_loading i:nth-child(2) {
    animation-delay: 0.1s;
  }
  .res_loading i:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .res_loading p {
    margin-top: 10px;
    font-size: 20px;
  }

  .res_loading button{
    width: 99px;
    height: 42px;
    background: var(--gray-color);
    border-radius: 25px;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
  }
  
  @keyframes size {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1.0);
    }
  }
  
/*  */
#pagination{
	text-align: center;
    margin-bottom: 30%;
    width: 100%;
    height: 32px;
    display: none;
}

#pagination a{
	width: 25px;
    height: 25px;
    margin-right: 13px;
    background-color: var(--key-text);
    color: white;
    display: inline-block;
}

.fa-edit{
   background: var(--key--color);
}

.totalAll{
    height: 62px;
    width: 58%;
    padding-right: 26px;
    padding-top: 0;
    font-weight: 600;
    font-size: 30px;
    text-align: right;
    color: var(--key-text);
}

.userInfo{
   height: 20%;
}

.userInfo p:nth-child(1){
   padding-block-start: 17px;
    height: 15%;
}

.userInfo p:nth-child(2){
    height: 15%;
}

.userInfo p:nth-child(3){
    height: 15%;
    padding-block-end: 20px;
}

.sellerInfo p:nth-child(1){
   width: 100%;
    height: 30px;
    padding-block-start: 23px;
    margin-bottom: 6px;
}

.sellerInfo p:nth-child(2){
    margin-top: 0;
}

.sellerInfo input:nth-child(3){
   width: 90%;
    height: 28px;
    margin-block-end: 6px;
    font-size: 14px;
    border: 1px solid lightgray;
    margin-top: 0;
    text-align: center;
}
.sellerInfo input:nth-child(4){
   width: 90%;
    height: 28px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    text-align: center;
}
.sellerInfo ul:nth-child(5) {
   display: inline-block;
    margin-bottom: 10px;
    margin-top: 2px;
}
.sellerInfo ul li:nth-child(1) {
    display: inline-block;
}
.sellerInfo ul li:nth-child(2) {
   display: inline;
    font-size: 14px;
    color: red;
    text-align: right;
}

.sellerInfo p:nth-child(6) {
   width: 84%;
    height: 62px;
    color: lightgray;
    margin: 0;
    font-size: 14px;
    border-left: 5px solid;
    padding-left: 10px;
}

.comBtnDiv{
    width: 100%;
    height: 45px;
    background-color: white;
}

.comBtn{
   margin: 19px 26%;
    width: 34%;
    height: 45px;
    border-radius: 31px;
    border: 0px;
    font-size: 14px;
    text-align: center;
    background-color: var(--gray-color);
}

.res_price{
   text-align: right;
    margin-right: 30px;
}

.res_title{
    text-align: center;
    padding-right: 31px;
}

.res_num{
   text-align: center;
    padding-right: 19px;
}

#agreement{
    padding: 0;
    border: 1px solid lightgray;
    width: 92%;
}

#agreement div {
    height: 50%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#agreementTop {
    border-bottom: 1px solid lightgray;
}

#agreement i{
    position: relative;
    top: 4px;
    cursor: pointer;
}

#agreement .termsText{
    display: none;
    font-size: 14px;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    height: 110px;
    overflow-y: scroll;
}

#agreement .termsText:nth-child(2){
    border-bottom: 1px solid lightgray;
}

#agreement .termsText:nth-child(4){
    border-top: 1px solid lightgray;
}

.ores_price{
    text-align: center;
}


/* map api*/

.custom_typecontrol {
	z-index: 28;
	position: fixed;
	top: 108px;
	right: 50px;
	overflow: hidden;
	width: 201px;
	height: 80px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	}

.custom_typecontrol span {
    display:block;
    width:80px;
    height:40px;
    float:left;
    text-align:center;
    line-height:40px;
    cursor:pointer;
    border-top-right-radius: 20px;
    }

.custom_typecontrol .btn {
    background:#fff;
    }       
    
.custom_typecontrol .btn_sky {
    background:#fff;
    }       
    
.custom_typecontrol .btn_sky:hover {
    background:#f5f5f5;
  }
  
.custom_typecontrol .btn_sky:active {
    background:#e6e6e6;
    }    
    
.custom_typecontrol .selected_btn_map {
    color:#fff;
    font-weight:500;
    background:var(--key-text);
}

.custom_typecontrol .selected_btn {
    color:#fff;
    font-weight:500;
    background:var(--key-text);

}
.custom_typecontrol .selected_btn_map:hover {
	color:#fff;
	}   


.custom_zoomcontrol {
	position: absolute;
	top: 124px;
	right: 21px;
	width: 36px;
	height: 80px;
	z-index: 28;
	border-radius:20px;
	background-color: #ffffff;
	border: 2px solid  #f5f5f5;
	} 
.custom_zoomcontrol span {
    display:block;
    width:40px;
    height:40px;
    text-align:center;
    cursor:pointer;
    }
      
.custom_zoomcontrol span img {
    width:15px;
    height:15px;
    color:var(--key-text);
    padding:12px 0;
    border:none;
    }  
    
#btnRoadmap{
	border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#btnSkyview{
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
               
.custom_zoomcontrol span:first-child{
    border-bottom:1px solid #bfbfbf;
    }    

.choicePay{
	width: 300px;
	height: 156px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	border: 1px solid lightgray;
	padding: 21px;
	z-index: 31;
	position: fixed;
	left: 40%;
	top: 39%;
	display: none;
}

    .choicePay button{
        display: inline;
        border: none;
        border-radius: 45px;
        width: 90px;
        height: 45px;
        color: white;
        font-weight: 600;
    }
    .choicePay button:nth-child(1){
        color: rgb(51, 51, 51);
        font-size: 16px;
        margin-bottom: 10px;
    }
    .choicePay button:nth-child(2){
        color: rgb(51, 51, 51);
    }
    .choicePay button:nth-child(5){
        width: 95%;
        margin-top: 10px;
        border-radius:10px ;
        color: rgb(51, 51, 51);
        font-weight: 600;
    }
    .outPay{        
        margin-top: 10px;
        width: 91%;
        border-radius: 6px;
        background-color: #e6e6e6;
        color: rgb(51, 51, 51);

    }
    
    #heart{
    	display: none;
    }
    
    .weektext{
    font-weight: bolder;
    margin-right: 10px;
    padding-bottom: 6px;
    display: inline-block;
    }
    
    
    /* css */
    .boxLeft {
    float: left;
    padding-top: 33px;
    width: 32px;
 }
	#weatherImg{
	    width: 23px;
	height: auto;}
	.boxRight {
	    float: left;
	    font-size: 13px;
	    height: 57px;
	    width: 89px;
	    padding: 21px 0 0 0px;
	    text-align: center;
	    margin-right: 10px;
	}
	
	.boxRight table th, td{
	    padding: 0 14px 3px 0;
	}
	
	.boxCenter {
	    float: left;
	    font-size: 20px;
	    font-weight: bolder;
	    height: 40px;
	    padding: 28px 8px 12px 1px;
	    text-align: center;
	}
	
	
.weatherBox {
    float: right;
    margin-right: 5%;
}  

.checkbox {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 0;
    vertical-align: middle;
    margin-right: 3px;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.checkbox input[type="checkbox"] ~ .checkbox-icon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--key-text);
    border-radius: 5px;
}

.checkbox input[type="checkbox"]:hover ~ .checkbox-icon, .checkbox input[type="checkbox"]:focus 
     ~ .checkbox-icon {
    border: 2px solid var(--key-text);
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-icon {
    background-color: var(--key-text);
    border-color: var(--key-text);
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 3px;
    margin: -4px 0 0 -5px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    border-radius: 2px;
    background: transparent;
    transform: rotate(-45deg);
}

.checkbox-circle input[type="checkbox"] ~ .checkbox-icon {
    border-radius: 50%;
}