.body_container h2 {
  text-align: center;
}
.body_container h2 span {
  color: var(--key-color);
}

.search_btn {
  text-align: center;
  margin: 20px;
}

.btn1 {
  background: none;
  border: none;
  border: 1px solid var(--key-color);
  background-color: white;
  margin: -2.5px;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.btn2 {
  background: none;
  border: none;
  border: 1px solid var(--key-color);
  background-color: white;
  margin: -2.5px;
  padding: 10px 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.search_btn button:hover {
  background-color: var(--key-color);
}

.search_box {
  text-align: center;
  margin-top: 20px;
}

.search_box input {
  width: 500px;
  /* height: 50px; */
  /* border-radius: 30px; */
  border: solid 1px var(--gray-color);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.search_box button {
  background: none;
  background-color: var(--key-color);
  border: none;
  margin-left: -5px;
  padding: 21px;
  width: 80px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.search_box i {
  color: white;
}
