@charset "UTF-8";
select {
  padding: 3px;
}

li {
  list-style: none;
  margin: 10px 0;
}

.post_btn {
  padding: 3px 5px;
}

.title {
  width: 100vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.text_title {
  padding: 3px;
  width: 640px;
}

.post_title li {
  display: inline-block;
  margin-right: 10px;
}

.file i {
  margin-right: 30px;
}

.file span {
  font-weight: 500;
  font-size: 14px;
}
