@charset "UTF-8";
ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

input {
  height: 20px;
}

select {
  padding: 3px;
}

.join_container {
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 500px;
  justify-content: center;
  margin: auto;
  margin-top: 90px;
}

.join_list {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  /* align-items: center;
  border: 1px solid #ccc;
  width: 500px;
  height: 400px; */
  padding: 20px;
}

.join_info li {
  margin-top: 17px;
}

.join_info {
  margin-top: 22px;
}

.join_btn {
  text-align: center;
  padding: 30px;
}

.join_btn button {
  font-size: 14px;
  padding: 7px 10px;
}
