*:focus {
    outline: none;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--gray-color);
    /* border: solid 0.5px var(--gray-color); */
    width: 85%;
    margin: 10px 0 10px 0;
}

table {
    padding-top: 0;
    text-align: left;
}

table th {
    color: var(--text-gray);
    padding: 10px;
    
}

table tr {
    padding: 10px;
}

table tr {
    padding: 10px
}

table td {
    padding: 0 10px 0 10px;
    color: var(--text-gray);
    
}

select {
    width: 50px;
    height: 30px;
    padding: 0em .5em;
    background:
        url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
        no-repeat 95% 50%;
    background-size: 40%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--gray-color);
    border-radius: 0px;
    color: var(--text-gray);
}

select::-ms-expand { /* for IE 11 */
    display: none;
    color: var(--text-gray);
}
input{
    border: 1px solid var(--gray-color);
    padding-left: 5px;
}
.content {
    float:left;
    width: 75vw;
    height: 100vh;
    padding: 30px 0px 30px 150px;
}
.coinLaundry {
    padding: 20px 20px 20px 140px;
    width: 60vw;
    height: 100vh;
}
#coinspec_title{
    font-size:17px;
    font-weight: bold;
    color: var(--text-gray);
}
#coinspec_left {
    height: 450px;
    float: left;
    padding: 20px 30px 20px 0;
}

#coinspec_right {
    height: 450px;
    float: left;
    padding: 20px 50px 20px 30px;
}

#btn_update {
    display: inline-block;
}

#coinLaundry input {
    width: 140px;
    height: 30px;
}

#etc input {
    width: 180px;
    height: 30px;
}

#etc td {
    padding: 0 20px 0 10px;
}

#dry input {
    width: 150px;
    height: 30px;
}

#card {
    padding-bottom: 50px;
    font-size: 14px;
    color: var(--text-gray);
}
#card hr {
    height: 1px;
    border: none;
    background-color: var(--gray-color);
    /* border: solid 0.5px var(--gray-color); */
    width: 100%;
    margin: 10px 0 10px 0;
}

#weekBox {
    height: 200px;
}

#btn_update {
    padding-top: 100px;
}

#btn_update button {
    background: var(--key-color);
    border-radius: 23px;
    border: none;
    width: 99px;
    height: 42px;
    color: var(--black-color);
}
#btn_change {
    margin-left: 19vw;
}

#resetSpec, #submitSpec {
    width: 100px;
    height: 30px;
}

#updateSpec {
    margin-left: 22vw;
    width: 100px;
    height: 30px;
}
#weekBox ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#week button {
    border: 1px solid var(--gray-color);
    background-color: #fff;
    padding: .5em;
    width: 42px;
    color: var(--text-gray);
}

#weekBox span {
    padding: 8px;
    margin-right:15px;
    width: 60px;
    height: 40px;
    font-size: 14px;
    border: 1px solid var(--gray-color);
    background: var(--key-color);
}

#weekBox  li {
    list-style: none;
    padding-left: 30px;
    margin: 10px;
}

#weekBox select {
    width: 120px;
    height: 30px;
    padding: 0em .8em;
    background:
        url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
        no-repeat 95% 50%;
    background-size: 20%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--gray-color);
    border-radius: 0px;
}

.checkbox {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 0;
    vertical-align: middle;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.checkbox input[type="checkbox"] ~ .checkbox-icon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
}

.checkbox input[type="checkbox"]:hover ~ .checkbox-icon, .checkbox input[type="checkbox"]:focus 
     ~ .checkbox-icon {
    border-color: var(--key-color);
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-icon {
    background-color: var(--key-color);
    border-color: var(--gray-color);
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 3px;
    margin: -4px 0 0 -5px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    border-radius: 2px;
    background: transparent;
    transform: rotate(-45deg);
}

.checkbox-circle input[type="checkbox"] ~ .checkbox-icon {
    border-radius: 50%;
}