*:focus {
    outline: none;
}

table {
   text-align: left;
}

table th {
    color: var(--text-gray);
    padding: 10px;
    
}

table td {
    width: 230px;
    padding: 0 20px 0 10px;
    color: var(--text-gray);
}

select {
    width: 50px;
    height: 30px;
    padding: 0em .5em;
    background:
        url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
        no-repeat 95% 50%;
    background-size: 40%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--gray-color);
    border-radius: 0px;
    color: var(--text-gray);
}

select::-ms-expand { /* for IE 11 */
    display: none;
    color: var(--text-gray);
}
input{
    border: 1px solid var(--gray-color);
    padding: 0 0 5px 5px;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    margin: 3px;
}
.content_header {
    display: block;
}
/* .comLaundry {
    padding: 0px 20px 0px 75px;
    width: 60vw;
    height: 100vh;
} */
/* .comLaundry hr{
    height: 1px;
    border: none;
    background-color: var(--gray-color);
    width: 100%;
    margin: 10px 0 10px 0;
} */
.content_header p {
    height: 34px;
}

#comspec_left {
    width: 500px;
    height: 450px;
    float: left;
    padding: 20px 30px 20px 0;
}

#comspec_right {
    height: 500px;
    float: left;
    padding: 20px 0 0 50px;
}

.comLaundry input {
    width: 140px;
    height: 30px;
}

.comLaundry {
    padding-left: 20px;
}

#card {
    padding-bottom: 50px;
    font-size: 14px;
    color: var(--text-gray);
}

#card p{
    color: var(--dark-gray);
    font-weight: bold;
    font-size: larger;
    margin: 0;
}

#weekBox {
    height: 200px;
}

#btn_update {
    position: absolute;
    width: 100%;
    /* width: 158px; */
    height: 100px;
    /* top: 88vh; */
    top: 24px;
    display: block;
}

#btn_update button {
    background: var(--key-color);
    border-radius: 30px;
    border: none;
    width: 88px;
    height: 40px;
    color: var(--black-color);
}
#btn_change {
    /* margin-left: 422px;
    margin-top: -5px; */
    float: right;
    margin-right: 96px;
}

#submitSpec {
    /* width: 100px;
    height: 30px;
    margin: 10px; */
    margin-left: 20px;
}

#updateSpec {
    /* margin-left: 500px; */
    float: right;
    margin-right: 100px;
}
#weekBox {
    width: 99%;
    height: 485px;
    margin: 15px 0 30px 0;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 20px;
    overflow: scroll;
}
#weekBox ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#week button {
    border: 1px solid var(--gray-color);
    background-color: #fff;
    padding: .5em;
    width: 42px;
    color: var(--text-gray);
    border-radius: 30px;
    margin-right: 5px;
}

#weekBox span {
    padding: 10px;
    margin-right: 15px;
    width: 60px;
    height: 40px;
    font-size: 14px;
    border: 1px solid var(--gray-color);
    background: var(--key-color);
    border-radius: 30px;
}

#weekBox  li {
    list-style: none;
    padding-left: 10px;
    margin: 10px;
}

#weekBox select {
    width: 111px;
    height: 31px;
    padding: 0px 20px;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    background-size: 20%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--gray-color);
    border-radius: 10px;
    margin-left: 5px;
}

#week .selected{
    background-color: var(--key-color);
    border: 1px solid var(--gray-color);
}
.checkbox {
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: 0;
    vertical-align: middle;
    margin-right: 10px;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.checkbox input[type="checkbox"] ~ .checkbox-icon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
}

.checkbox input[type="checkbox"]:hover ~ .checkbox-icon, .checkbox input[type="checkbox"]:focus 
     ~ .checkbox-icon {
    border-color: var(--key-color);
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-icon {
    background-color: var(--key-color);
    border-color: var(--gray-color);
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 3px;
    margin: -4px 0 0 -5px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    border-radius: 2px;
    background: transparent;
    transform: rotate(-45deg);
}

.checkbox-circle input[type="checkbox"] ~ .checkbox-icon {
    border-radius: 50%;
}
#clickmask {
    width: 65vw;
    height: 64vh;
    display: block;
    /* background: black; */
    opacity: 57%;
    z-index: 29;
    position: absolute;

  }