.body_container {
  /* padding: 200px; */
  width: 100%;
  margin: auto;
}
.wrapper_find {
  margin-left: 400px;
  margin-top: 150px;
}

/* 아이디 찾기, 비번찾기 */
.find_nav div {
  display: inline-block;
  border-bottom: 4px solid;
  padding: 0 20px 5px;
  margin-left: -5px;
  font-size: 20px;
  font-weight: bolder;
  /* color: var(--gray-color); */
}

input {
  width: 250px;
  padding: 12px;
  border: 0;
  border: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  border-radius: 5px;
  margin: 0 0 20px;
}

button {
  width: 80px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--gray-color);
}

.next_btn {
  text-align: center;
}

p {
  color: var(--text-gray);
  line-height: 160%;
}

i {
  margin-right: 10px;
}

.veri_btn {
  width: 800px;
  height: 200px;
  box-sizing: border-box;
  border: solid 1px var(--gray-color);
  /* border-radius: 10px; */
  /* padding: 50px; */
  font-size: 18px;
  margin: 50px 0 200px;
  text-align: center;
}

.id_box {
  height: 260px;
  padding: 22px;
}
.pw_box {
  height: 260px;
  padding: 74px;
  text-align: center;
}

.mail {
  color: var(--text-gray);
  line-height: 180%;
  font-size: smaller;
}
.mail a {
  margin-left: 10px;
  text-decoration: underline;
  text-underline-position: under;
}

/* .pw {
  color: var(--gray-color);
} */
/* 
#findPW {
  display: none;
} */

label {
  font-size: smaller;
  color: var(--text-red);
  margin-left: 10px;
}

#mailChkDiv {
  position: relative;
}
#timeout {
  font-size: smaller;
  position: absolute;
  bottom: 7px;
  right: 137px;
  top: 25px;
  color: var(--text-red);
}

#mail_check_input_box_false {
  background-color: var(--gray-color);
}
.unselect {
  color: var(--gray-color) !important;
  /* color: black; */
  /* border: black; */
}
