.container {
  width: 100%;
  padding-top: 80px;
}
.termsContent {
  position: relative;
  top: 50px;
  margin: 0 auto;
  max-width: 768px;
  min-width: 460px;
  text-align: left;
}
.terms {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}
#warnBox {
  position: relative;
  height: 42px;
  display: none;
}
#termsChk {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: red;
  font-size: small;
}
#termBtn {
  width: 100%;
  height: 45px;
  text-align: center;
}
#termBtn button {
  width: 100px;
  height: 100%;
  border: none;
  background-color: var(--gray-color);
  border-radius: 30px;
  margin: 15px 20px;
}

.allChkDiv {
  font-weight: bolder;
  text-decoration: underline;
  text-underline-position: under;
  padding: 20px 0;
}

textarea {
  padding: 20px;
  margin: 15px 0;
  outline: 0;
  color: var(--text-gray);
  border: solid 1px var(--gray-color);
}

span {
  color: var(--key-text);
  font-size: small;
}

.termsContent > div {
  margin-bottom: 40px;
}

/*체크박스 css*/
.checkbox {
  position: relative;
  display: inline-block;
  line-height: 1;
  font-size: 0;
  vertical-align: middle;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.checkbox input[type="checkbox"] ~ .checkbox-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-color);
  margin-right: 11px;
}

.checkbox input[type="checkbox"]:hover ~ .checkbox-icon,
.checkbox input[type="checkbox"]:focus ~ .checkbox-icon {
  border-color: var(--key-text);
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-icon {
  background-color: var(--key-text);
  border-color: var(--gray-color);
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 3px;
  margin: -4px 0 0 -5px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  border-radius: 2px;
  background: transparent;
  transform: rotate(-45deg);
}

.checkbox-circle input[type="checkbox"] ~ .checkbox-icon {
  border-radius: 50%;
}
