.wrapper_select {
  height: 2800px;
}
button {
  cursor: pointer;
}
form div {
  margin-bottom: 0;
}
table {
  border-spacing: 2px 15px;
}
/* p {
  color: #7d7d7d;
  font-size: 15px;
  font-weight: bold;
} */

/* form > div > p {
  margin-left: 10px;
  margin-bottom: 0px;
} */
#chkBtn {
  height: 45px;
}
input {
  font-size: 20px;
}
input::placeholder {
  font-size: 15px;
}
button {
  border: 0px;
}
.centerDiv {
  display: block;
  margin: 0px auto;
  width: 450px;
}
.form h4 {
  text-align: left;
}
.body_container p {
  line-height: 160%;
}
input[type="text"] {
  width: 315px;
  height: 45px;
  margin: 5px 0;
  /* border: 1px solid var(--grey-color); */
}
.address input {
  width: 49%;
}
#addressWrap {/*상세주소*/
  width: 100%;
  /* background-color:lightpink; */
  display: flex;
  justify-content: space-between;
}
#roadAddress { /*도로명주소*/
  width: 100%;
}
#btn_address {
  width: 120px;
  height: 45px;
  margin-left: 3px;
  cursor: pointer;
}
input[type="button"] {
  position: relative;
  top: 2px;
  width: 132px;
  height: 45px;
  background: #c8e4ff;
  border: 0px;
}

.selected {
  /* background: #c8e4ff; */
  background: white;
  /* border: 1px  !important; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.regexChk{
  margin-left: 15px;
  display: block;
  color: red;
  font-size: 10px;
}
.unselected {
  background: var(--gray-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.week button {
  padding: 0;
  font-size: 14px;
  width: 40px;
  height: 35px;
  margin: 5px -1px;
  border: 1px solid var(--gray-color);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 20px;
  /* background-color: white; */
}
.week button.two {
  width: 45px;
}
.weekBox {
  width: 100%;
  height: 208px;
  margin: 5px 0 30px 0;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 20px;
  overflow: scroll;
}
.weekBox li {
  width: auto;
  margin: auto;
  text-align: center;
  font-size: 15px;
  margin-bottom: 8px;
}
.weekBox li button {
  padding: 0;
  background-color: #c8e4ff;
  /* border: 1px solid #2dd1f4; */
  font-size: 15px;
  width: 80px;
  height: 35px;
  margin: 0 15px;
  border-radius: 30px;
}
.weekBox li span {
  margin: 0 15px;
}
.weekBox li select {
  width: 85px;
  height: 30px;
  padding: 0 10px;
  margin: 0 10px;
  border: 1px solid var(--gray-color);
}
.phone input {
  width: 138px;
  height: 45px;
  text-align: center;
}
.phone button {
  width: 99px;
  height: 30px;
  background: #c8e4ff;
}

.full input {
  width: 100%;
  height: 45px;
  margin: 5px 0;
}
.email {
  height: 60px;
}

.bank input {
  /* margin-left: 7px; */
  position: relative;
  height: 32px;
  width: 348px;
  left: 95px;
  bottom: 32px;
}

.bank .selectbox {
  position: relative;
  width: 70px;
  padding: 10px;
  left: 3px;
  font-size: 10pt;
  border-radius: 10px;
  border: 1px solid var(--gray-color);
  background-color: white;
  margin-bottom: 5px;
}
.bank input {
  height: 45px;
}

.bizType {
  margin-top: 30px;
  width: 100%;
  height: 38px;
  cursor: pointer;
}
.bizType div {
  float: left;
  text-align: center;
  padding-top: 12px;
  width: 50%;
  height: 30px;
  display: inline-block;
  border: 0px !important;
}

.laundry input,
.coinLaundry input {
  font-size: 15px;
}
.hide {
  display: none;
}

.laundry {
  padding: 30px;
  /* border: 1px solid var(--gray-color); */
  color: #616161;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.laundry h4 {
  text-align: left;
}

.laundry th {
  text-align: left;
  color: #616161;
}

.laundry .blank {
  width: 180px;
}

input[type="checkbox"] {
  width: auto;
  margin: auto;
  margin-right: 10px;
}

/* .laundry input[type="checkbox"] {
  width: auto;
  margin: auto;
  margin-right: 10px;
} */

/* .coinLaundry input[type="checkbox"] {
  width: auto;
  margin: auto;
  margin-right: 10px;
} */

.laundry .etc {
  margin-left: -30px;
  width: 90px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}

.laundry .etc::placeholder {
  font-size: 12px;
  text-align: center;
}
.won {
  width: 125px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  /* margin: 0 10px 0 40px; */
  margin-right: 10px;
  /* margin-left: 50px; */
  text-align: right;
}
.won:disabled {
  background-color: #e5e5e55b;
}
input[onclick="clicked();"] {
  color: #ffffff;
  margin-top: 30px;
  width: 100%;
}
.coinLaundry {
  padding: 25px;
  /* border: 1px solid #c8e4ff; */
  color: #616161;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.coinLaundry th {
  color: #616161;
  text-align: left;
  /* width: 120px; */
}

.equipment tr td:nth-child(2) {
  width: 110px;
}
.equipment tr td:nth-child(3) {
  /* width: 10px; */
  margin-top: 18px;
}

.etc tr td:nth-child(2) {
  width: 180px;
}

/* .etc > td:nth-child(1) {
  width: 10px;
} */

/* .coinLaundry tr:nth-child(2) {
  margin-left: -20px;
  width: 90px;
}

.coinLaundry td .equipment {
  border-spacing: 0 15px;
}
.equipment th:nth-child(1) {
}
.equipment th:nth-child(2) {
  padding-left: 5px;
  width: 90px;
}
.coinLaundry > div > table:nth-child(1) .won {
  margin-left: 12px;
}
.coinLaundry span {
  font-size: 5px;
}
.coinLaundry th {
  text-align: left;
}
.coinLaundry .cnt {
  width: 40px;
}
.coinLaundry .blank {
  width: 10px;
} */

.select option {
  /* padding: 10px; */
  font-size: smaller;
}

.selectbox {
  position: absolute;
  width: 80px; /* 너비설정 */
  height: 20px;
  margin: 2px 0 0 -2px;
  border: 1px solid #999; /* 테두리 설정 */
  z-index: 1;
}

/* 가상 선택자를 활용 화살표 대체 */
.selectbox:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}
.selectbox label.select {
  position: absolute;
  top: 0; /* 위치정렬 */
  left: 13px; /* 위치정렬 */
  color: #999;
  padding: 10px;
  z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
}

.selectbox select {
  width: 100%;
  height: auto; /* 높이 초기화 */
  line-height: normal; /* line-height 초기화 */
  font-family: inherit; /* 폰트 상속 */
  border: 0;
  opacity: 0; /* 숨기기 */
  filter: alpha(opacity=0); /* IE8 숨기기 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.dry table {
  margin: 0;
  width: 400px;
}

/* .dry th,
td {
  width: 100px;
} */

.dry .selectbox {
  /* position: absolute; */
  margin-left: 1px;
  width: 80px;
  /* border: 1px solid #999; */
  font-size: smaller;
  z-index: 1;
}

/* .etc tr:nth-child(1) > th:nth-child(1) {
} */

/* .equipment tr td:nth-child(3) > input {
  width: 100px;
  border-spacing: 0;
  margin-left: 0 !important;
} */

.weekBox ul {
  display: flex;
  flex-direction: column;
}

.joinSubmit {
  text-align: center;
  margin-top: 50px;

  width: 450px;
}
.coinLaundry select{
  position: absolute;
  left: 0px;
  height: 24px;
  top: -1px;
}