* {
	box-sizing: border-box;
}



hr {
	height: 0.5px;
	border: none;
	background-color: #C4C4C4;
	/* border: solid 0.5px var(--gray-color); */
	width: 85%;
}

#login {
	width: 324px;
	height: 59px;
	left: 557px;
	top: 478px;
	margin-bottom: 20px;
	border: none;
}



.login_box {
	margin-left: 12%;
}

.login_box input {
	border: solid 1px #C4C4C4;
	width: 326px;
	height: 50px;
	left: 556px;
	top: 339px;
	margin: 10px;
	border-radius: 10px;
}

.content button {
	float: left;
	position: relative;
	/* left:250px; */
	top: -50px;
}

8
.loginTitle {
	text-align: center;
	margin-bottom: 60px;
}

.login_API {
	margin-left: 28%;
}

.login_API img {
	width: 80px;
	/* position: relative;
	left: 80px; */
}

.login_foot {
	margin-left: 12%;
}

.login_foot p {
	font-size: 9pt;
	color: #BCBCBC;
	/* position: relative;
    left: 33%; */
	margin-top: 30px;
	margin-left: 22%;
}

.finds {
	/* position: relative;
	left: 13%; */
	margin-left: 17%;
}

.finds a {
	margin: 30px;
	color: var(--dark-gray);
	text-decoration: none;
}

.the_others p {
	/* position: relative;
    left: 33%; */
	margin-top: 20px;
	margin-left: 35%;
	color: var(--black-color);
}

/* 모달 영역 */
#modal_container {
	display: none;
	position: relative;
	margin: 0 auto;
	width: 450px;
	height: 650px;
	background-color: white;
	border: 1px solid lightgray;
	z-index: 9999;
	/* 	box-shadow: 5px 12px 5px rgb(212, 212, 212); */
}

#modal_close {
	float: right;
	width: 36px;
	height: 36px;
	background: white;
	margin: 18px 20px 0 0;
	font-size: 24px;
	border: none;
	cursor: pointer;
}

#modal_bodycont {
	margin-top: 28px;
	height: 80%;
	padding-block: 14px;
}

#modal_head {
	width: 80%;
	height: 80px;
	text-align: center;
	margin: 0 auto;
}

#modal_head h2 {
  color: var(--black-color);
}

/* #modal_foot {
	margin: 0px 15%;
	width: 80%;
	height: 315px;
} */