.body_container {	
	padding-top: 60px;
	
}
.content{
	width: 530px;
	text-align: center;
	margin: auto;
	padding-top:30px
}

.login {
	text-align: center;
	margin: auto;
	border: 1px solid;
	width: 530px;
	height: 600px;
}

img {
	width: 60px;
	height: 60px;
}

hr {
	height: 0.5px;
	border: none;
	background-color: var(- -gray-color);
	/* border: solid 0.5px var(--gray-color); */
	width: 85%;
}

#btn_login {
	width: 324px;
	height: 59px;
	left: 557px;
	top: 478px;
	margin-bottom: 20px;
}

input {
	width: 326px;
	height: 50px;
	left: 556px;
	top: 339px;
	margin: 10px;
}

.content button {
	float: left;
	position: relative;
	/* left:250px; */
	top: -50px;
}

#log {
	/* position:absolute; */
	width: 100px;
	height: 50px;
	background-color: #8FBCFF;
	color: #515151;
}

a {
	text-decoration: none
}