
.map_container{
    position: relative;
    width: 100vw;
    height: 89vh;
    overflow: hidden;
}
#map{
    width: 100vw;
    height: 100vh;
    float: right;
    position: initial;
}
.rating-group { display: inline-flex; margin-right: 23px;}
.rating__icon { pointer-events: none; }
.rating__input { position: absolute !important; left: -9999px !important; }
.rating__label { cursor: pointer; padding: 0 0.1em; font-size: 14; }
.rating__icon--star { color: #fcdd03; }
.rating__icon--star2 { color: lightgray; }
.rating__icon--none { color: #eee; }

/*  뒳 씪 씠 뱶 遺 紐  */
.slide_container{
    flex-direction: row;
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 40vw;
}


/* 사이드바 */
.slide{
    width: 20vw;
    height: 90vh;
    float: left;
    background-color: rgb(242 244 245);
    -webkit-transition: width 1s;
    transition: width 1s;
    margin-top: 30px;
}

.hide{
    width: 0vw;
}


/* 예약하기 관련 css ------------------------------------------*/
.slide_res{
    width: 20vw;
    height: 90vh;
    float: left;
    background-color: rgb(255 255 255);
    -webkit-transition: width 1s;
    transition: width 1s;
    display: none;
    overflow-y: scroll;
    background-color: #f0f0f0;
}
.slide_res div{
   padding-inline-start: 23px;
    height: auto;
    background: white;
}
/* .rescont{
    width: 80%;
    height: auto;
    margin: auto;
} */
#resShortOpt{
   width: 95%;
    height: 160px;
}
#resShortOpt table>tr{
   height: 10px;
}
#resLongOpts{
    width: 100%;
    height: 160px;
    margin: 30px auto;
}

.slide_res table>td{
    height: 50px; 
    border: 1px solid;   
}

.slide_res>table>td:nth-child(1){
    text-align: left;
}
.slide_res>table>td:nth-child(2){
    text-align: center;
}
.slide_res>table>td:nth-child(3){
    text-align: right;
}

#res_p{
   width: 100%;
    height: 32px;
    margin: 0;
    padding-block-start: 17px;
    padding-block-end: 13px;
    background-color: rgb(100 100 100);
    font-weight: 700;
    color: rgb(249 249 249);
    font-size: 17px;
}
}

.htdres{
    font-weight: 700;
    border-bottom: 1px solid var(--gray-color);
}


/* 예약완료 사이드바 관련 */
.slide_success{
    width: 20vw;
    height: 90vh;
    float: left;
    background-color: rgb(255 255 255);
    -webkit-transition: width 1s;
    transition: width 1s;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/respop.jpg);
}

.slide_success h3{
	text-align: center;
    font-size: 27px;
    padding-block-start: 103px;
    margin-bottom: 2px;
}
.slide_success p{
    font-size: 14px;
    padding-block-end: 220px;
    margin: 0;
    text-align: center;
}

.res_child{
	padding-inline-start: 35px;
    padding-inline-end: 35px;
}

.res_child p{
	font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
}



#res_return{
	width: 99px;
    height: 42px;
    left: 231px;
    top: 907px;
    background: var(--gray-color);
    border-radius: 25px;
    margin: 8% 7% 4%;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

#res_return:hover{
	background-color: var(--key-color);
    color: white;
    font-weight: 500;
}

#res_check{
	width: 99px;
    height: 42px;
    left: 231px;
    top: 907px;
    background: var(--gray-color);
    border-radius: 25px;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

#res_check:hover{
	background-color: var(--key-color);
    color: white;
    font-weight: 500;
}
/* 슬라이드관련 버튼제어  */
.contBtn{
    display: inline;
}

.foldBtn{
    position: absolute;
    top: 45%;
    transform: translateY(-140%);
    z-index: 10;
    height: 50px;
    background-color: white;
    border: solid 1px rgb(189, 189, 189);
}
.expand{ display: none; }

.res{
    transform: translateY(-140%);
}
.map_logo{
    width: 30%;
    float: left;
    margin: 20px 30px 0 20px;
}
.slide_top{
    width: 20vw;
    height: 200px;
    margin: -30px 0 0 -20px;
    background-color: var(--key-color);
    float: right;                 
}
.here{    
    float: left;
    margin: 20px 0 0 23%;
    font-size: 14px;
}
.slide_search{
    margin-top: 20px;
    width: 100%;
    height: 30px;
}
.input_search{
    padding: 9px;
    width: 65%;
    height: 20px;
    margin: 16px 0 0 16px;
    float: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 0px var(--gray-color);
}
.input_searchBtn{
    float: left;
    width: 19%;
    height: 38px;
    margin: 16px 0 0 0;
    background-color: white;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: solid 0px var(--gray-color);
}

.tag{
    width: 100%;
    height: 95px;
    background-color: white;
    margin-top: 68px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.tag hr{
    margin: 0;
    padding: 0;
}

.slide_ul{
    text-decoration: none;
    list-style: none;
    font-size: 11px;
    padding: 10px;
}

.slide_ul > li{
    display: inline;
    font-size: 14px;
    margin-left: 10px;
}

.slide_mini{
    margin-left: 20px;
    font-size: 13px;
}

.place_name{
    overflow: hidden;
    height: 21px;
    width: 200px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
/* footer :  븯 떒 쓽 由ъ뒪 듃/ 떒 씪議고쉶/ 삁 빟 븯湲   벑 援щ텇 */

.footer{
    margin-top: 33px;
    width: 20vw;
    float: right;
    height: 62vh;
    border: solid 1px var(--gray-color);
    overflow-y: scroll;
    padding: 0;
}
.list{
    background-color: white;
}
.list ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.list li{
    display: inline;
    font-size: 14px;
    
}
.searchtag :nth-child(1) {
   float: left;
    font-size: 14px;   
}

.searchtag :nth-child(2) {
   float: right;
    margin-right: 10%;
    font-size: 12px;   
}

.searchtag :nth-child(3) {
   float: right;
    margin-right: 10%;
    font-size: 12px;   
}
.slide_card{
    margin-top: 22px;
}
.slide_card table{
    width: 88%;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 14px;
    margin-top: 17px;
}

#placesList{
    margin: 4%;
}

/* single_list */
.single{
     display: none;
} 

.card{
    width: 100%;
    height: 66%;
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}


.btn{
    border:0px;
    width: 50%;
    float: left;
    height: 40px;    
    background-color: white;
    font-size: 16px;
}

.cardinfo{
    width: 100%;
    height: 30%;
    background-color: white;
    margin-bottom: 45px;
    border: 1px solid lightgray;
}

#res{
    width: 99px;
    height: 42px;
    left: 231px;
    top: 907px;
    background: var(--gray-color);
    border-radius: 25px;
    margin: 5% 35% 4%;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}
#res:hover{
    background-color: var(--key-color);
    color: white;
    font-weight: 500;
}


#s_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: rgb(83, 83, 83);
    text-align: center;
    margin: auto;
    overflow: hidden;
    height: 30px;
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#s_star{
    margin: auto;
    width: 80%;
    text-align: center;
    height: 10%;
}

#reservation{
    margin: 20px 0 0 35%;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 0;
    background: rgba(143, 188, 255, 0.48);
    border-radius: 56px;
}


#single_table{
    padding-block: 20px;
    padding-left: 31px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
#single_table td{
    font-size: 16px;
    height: 30px;
}
#single_table p{
  margin: 0
}

.tag_kkaekkt{
    border-radius: 10px;
    width: 50%;
    height: 25px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: var(--key-color);
    border: 0px;
    padding-inline: 13px;
}



.moreinfo{
    margin-top: 20px;
    width: 100%;
    background-color: white;
    padding-block: 1px;
    margin-bottom: 80px;
    border-top: 1px solid lightgray;
}

.more_title{
    height: 20px;
    margin-left: 30px;
    color: var(--key-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

#single_option{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    height: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}


.resbtn{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid lightgray;
}

/*  뾽泥댁젙蹂 /由щ럭 踰꾪듉 젣 뼱------------------------ */
.infoBtn{
    width: 50%;
    height: 40px;
    float: left;
    border: 0px;
    font-size: 15px;
    color: white;
    font-weight: 500;
}
#infoData:hover{
    color: var(--key-color);
    background-color: white;
}

#infoData{
    background-color: white;
    color: var(--key-color);
}

#infoReview{
    background-color:var(--key-color);
    color:white ;
}
#infoReview:hover{
    background-color: white;
    color: var(--key-color);
}


/* 由щ럭tab ------------------------------------------------*/
/* box */
.cominfo{
    width: 100%;
    height: 226px;
    background: white;
    display: none;
}

/*  궡遺  슂 냼 */
.comhead{
    width: 100%;
    height: 20px;
    float: left;
    text-align: center;
    padding-block: 26px;
}

.latest{
    font-size: 13px;

}

.grade{
    font-size: 13px;

}

.allCom{
    width: 80px;
    display: inline;
    margin-left: 30%;
}

.combody{
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding-block-end: 12%;
    background-color: white;
}

.combodyul{
    width: 100%;
    height: 41px;
    display: inline-block;
    margin: 10% 0 0 9%;
}
.combodyul li:nth-child(1){
    font-size: 14px;
    font-weight: 600;
}
.combodyul li:nth-child(2){
    color: lightgray;
    font-size: 11px;
    
}

.combodyul li:nth-child(3){
    margin-top: 10px;
}

.comment{
   width: 80%;
    height: 58px;
    border: 0px;
    margin: 0;
    font-size: 14px;
}

.res_totalprice{
   display: none;
}
/*  삁 빟 紐⑤떖愿  젴  씠踰ㅽ듃 */
.res_loading {
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 999;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 250px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    font-size: 14px;
    display: none;
    }

  .dot {
    padding-top: 7px;
  }
  
  .res_loading i {
    display: inline-block;
    background-color:var(--key-color);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 15px;
    animation: size 0.3s alternate infinite;
  }
  
  .res_loading i:nth-child(2) {
    animation-delay: 0.1s;
  }
  .res_loading i:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .res_loading p {
    margin-top: 10px;
    font-size: 20px;
  }

  .res_loading button{
    width: 99px;
    height: 42px;
    background: var(--gray-color);
    border-radius: 25px;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
  }
  
  @keyframes size {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1.0);
    }
  }
  
/*  럹 씠吏  踰꾪듉  슚怨  */
#pagination{
   text-align: center;
    border: 1px solid;
    width: 25px;
    height: 25px;
    margin: auto;
    display: none;
}

/* 예약 */
.fa-edit{
   background: var(--key--color);
}

.totalAll{
    height: 62px;
    width: 58%;
    padding-right: 26px;
    padding-top: 0;
    font-weight: 600;
    font-size: 30px;
    text-align: right;
    color: rgb(152 206 255);
}
.userInfo{
   height: 20%;
}
.userInfo p:nth-child(1){
   padding-block-start: 17px;
    height: 15%;
}
.userInfo p:nth-child(2){
    height: 15%;
}
.userInfo p:nth-child(3){
    height: 15%;
    padding-block-end: 20px;
}

.sellerInfo p:nth-child(1){
   width: 100%;
    height: 30px;
    padding-block-start: 23px;
    margin-bottom: 6px;
}
.sellerInfo p:nth-child(2){
    margin-top: 0;
}
.sellerInfo input:nth-child(3){
   width: 90%;
    height: 28px;
    margin-block-end: 6px;
    font-size: 14px;
    border: 1px solid lightgray;
    margin-top: 0;
    text-align: center;
}
.sellerInfo input:nth-child(4){
   width: 90%;
    height: 28px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    text-align: center;
}
.sellerInfo ul:nth-child(5) {
   display: inline-block;
    margin-bottom: 10px;
    margin-top: 2px;
}
.sellerInfo ul li:nth-child(1) {
    display: inline-block;
}
.sellerInfo ul li:nth-child(2) {
   display: inline;
    font-size: 14px;
    color: red;
    text-align: right;
}

.sellerInfo p:nth-child(6) {
   width: 84%;
    height: 62px;
    color: lightgray;
    margin: 0;
    font-size: 14px;
    border-left: 5px solid;
    padding-left: 10px;
}

.comBtnDiv{
    width: 100%;
    height: 45px;
    background-color: white;
}

.comBtn{
   margin: 19px 26%;
    width: 34%;
    height: 45px;
    border-radius: 31px;
    border: 0px;
    font-size: 14px;
    text-align: center;
    background-color: var(--gray-color);
}

.res_price{
   text-align: right;
    margin-right: 30px;
}

.res_title{
    text-align: center;
    padding-right: 31px;
}

.res_num{
   text-align: center;
    padding-right: 19px;
}

.ores_price{
    text-align: center;
}

#agreement{
    padding: 0;
    border: 1px solid lightgray;
}
#agreement div {
    height: 50%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#agreementTop {
    border-bottom: 1px solid lightgray;
}
#agreement i{
    position: relative;
    top: 4px;
    cursor: pointer;
}
#agreement .termsText{
    display: none;
    font-size: 14px;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    height: 110px;
    overflow-y: scroll;
}
#agreement .termsText:nth-child(2){
    border-bottom: 1px solid lightgray;
}
#agreement .termsText:nth-child(4){
    border-top: 1px solid lightgray;
}

/* map api 버튼 */

/* position: absolute;
    z-index: 9999;
    width: 150px;
    height: 28px;
    margin-right: 19px;
    text-align: center;
    border: 1px solid;
    display: inline-block;
    left: 80%;
    top: 5%;
    border-radius: 10px;
    background-color: white;
    overflow: hidden; */

.custom_typecontrol {     
	z-index: 9999;
    position: fixed;
    top: 120px;
    right: 27px;
    overflow: hidden;
    width: 130px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    border-radius: 10px;
    
    }
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn_sky {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
.custom_typecontrol .btn_sky:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn_sky:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
.custom_typecontrol .selected_btn_map {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn_map:hover {color:#fff;}   

.custom_zoomcontrol {
	position: absolute;
    top: 124px;
    right: 44px;
    width: 36px;
    height: 80px;
    overflow: hidden;
    z-index: 9999;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 2px solid lightgray;
    } 
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}             
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}    