textarea{
    resize: none;
    height: 12em;/* height 안먹는데 이유를 모름.. */
}
.word{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/* 모달 container 입니다 기본은 none 상태로 두셔야합니다.
본인 화면에서 사용할때, position을 정해주셔야 합니다. */
#modal_container{
    display: none;

    position: relative;
    margin: auto;
    width: 364px;
    height: 235px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 12px 5px rgb(212, 212, 212);
}

#starVal{
    float: left;
    margin-left: 21px;
    font-size: 36px;
    width: 28px;
    height: 44px;
    border: 0px;
    background: none;
    text-align: center;
    color: rgba(97, 97, 97, 1);
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
}

#modal_close{
    float: right;
    width: 36px;
    height: 36px;
    border: 1px solid;
    background: white;
    margin: 18px 20px 0 0;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

#modal_bodycont{
    margin-top: 28px;
    height: 80%;
    padding-block: 14px;
}

#modal_head{
    width: 80%;
    height: 80px;
    text-align: center;
    margin: 0 auto;
}

#modal_foot{
    margin: 20px auto;
    width: 100%;
    height: 50px;
    display: inline-block;
    text-align: center;
}

#review_text{
    cursor: pointer;
   width: 100%;
   background-color:rgba(249, 249, 249, 1);
   border-radius: 4px;
   border: 1px solid lightgray;
}

#review_texter{
    float: right;
    font-size: 15px;
    color: lightgray;
}

#sub_review{
    background: rgba(143, 188, 255, 0.48);
    border-radius: 30px;
    border: 0px;
    width: 120px;
    height: 40px;
    margin: 0 10px;
}

/* 별 css */
/* rating */
.rating-group { display: inline-flex; float: right; margin-right: 23px;}
.rating__icon { pointer-events: none; }
.rating__input { position: absolute !important; left: -9999px !important; }
.rating__label { cursor: pointer; padding: 0 0.1em; font-size: 2rem; }
.rating__icon--star { color: yellow; }
.rating__icon--none { color: #eee; }
.rating__input:checked ~ .rating__label .rating__icon--star { color: #ddd; }
.rating-group:hover .rating__label .rating__icon--star { color: yellow; }
.rating__input:hover ~ .rating__label .rating__icon--star { color: #ddd; }
.rating-group:hover .rating__input--none:not(:hover )+.rating__label .rating__icon--none{ color: #eee; }