button{
    cursor: pointer;
}
.content{
    width: 60vw;
    margin: 10px auto;
    font-size: 16px;
    color: var(--text-gray);
}
#alertHeader{
    display: flex;
    justify-content: space-between;
}
#headerRight button{
    margin: 0 5px;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
}
#headerLeft{
    padding-top: 23px;
}
#headerLeft button{
    background: none;
    border: none;
    padding: 0 10px;
    font-size: 15px;
    color: var(--text-gray);
}
.selected {
    color: black !important;
    font-weight: bold;
}
#headerRight button:hover{
    background-color: var(--key-color);
}
i.fa-redo-alt{/*새로고침 버튼*/
    font-size: 22px;
    position: relative;
    top: 3px;
    cursor: pointer;
    margin: 0 5px;
    transform: rotate(-50deg);
}
/* #alertListBox{
    text-align: center;
} */
.date{
    text-align: left;
}
.date h2{
    display: inline-block;
}
.date i{
    font-size: 23px;
    margin-right: 8px;
}
.date ul{
    margin: 0 30px;
}
.date ul li{
    margin-bottom: 10px;
    padding: 10px 40px 10px 20px;
    border: 1px solid var(--gray-color);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
.date ul li i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
