*:focus {
    outline: none;
}
hr {
    height: 0.5px;
    border: none;
    background-color: var(--gray-color);
    /* border: solid 0.5px var(—gray-color); */
    /* width: 95%; */
  }
.wrap_info{
    display: flex;
}

.content input {
    box-sizing: border-box;
    padding: 15px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid var(--gray-color);
    border-radius: 10px;
}
/* .content {
float:left;
width: 65vw;
height: 100vh;
padding: 0px 0px 30px 250px;
font-size: 16px;
} */

.content #mybio_info {
    color: var(--text-gray);
    padding: 0;
}

.content #mybio_info button {
    height: 40px;
    width: 120px;
    margin-left: 10px;
    background: var(--gray-color);
    color:  var(--black-color);
    border: none;
    padding: 5px;
    border-radius: 30px;
}

.content table th {
    text-align: left;
}

.content table td {
    padding-top: 8px;
    padding-right: 50px;
}
#email {
    box-sizing: border-box;
    padding: 15px;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid var(--gray-color);
    border-radius: 10px;
}

/* #mybio_title {
    display: inline-block;
    color: var(--text-gray)
} */

/* #btn_mybio {
    background: var(--key-color);
    border-radius: 30px;
    border: none;
    float: right;
    margin-top: 2vh;
    margin-right: 10vW;
    width: 100px;
    height: 45px;
    display: block;

}

#btn_mybioClick {
    float: right;
    margin-right: 10vw;
    display: none;
    
}

#btn_mybiofin, #btn_back {
    background: var(--key-color);
    border-radius: 30px;
    border: none;
    width: 100px;
    height: 45px;
    color: var(--black-color);

} */

/* 보튼 */
#btn_update {
    position: absolute;
    width: 100%;
    /* width: 158px; */
    height: 100px;
    /* top: 88vh; */
    top: 19px;
    right: -92px;
    display: block;
}

#btn_update button {
    background: var(--key-color);
    border-radius: 30px;
    border: none;
    width: 88px;
    height: 40px;
    color: var(--black-color);
}
#btn_mybioClick {
    text-align: right;
    margin-right: 100px;
    display: none;
}

#btn_mybiofin {
    /* width: 100px;
    height: 30px;
    margin: 10px; */
    margin-left: 20px;
}

#btn_mybio {
    /* margin-left: 500px; */
    float: right;
    margin-right: 100px;
}
/*  */



#btn_mybiopwd{
    padding: 0;
}

#read {
    border: none;
}

#mybioPhone input {
    width: 80px;
}

#mybioBirth{
    width: 150px;
}

#checkval, #checkpwd {
    color: var(--text-red);
}
#mail_check_input_box_false{
    background-color:lightgray;
}
 
#mail_check_input_box_true{
    background-color:white;
}
.correct{
    color : var(--key-text);
}
.incorrect{
    color :var(--text-red);
}
#mailChkDiv {
    position: relative;
}
#timeout{
    position: absolute;
    bottom: 7px;
    left: 170px;
    top: 36px;
    font-size: 12px;
    ccolor :var(--text-red);
}
.mail_check_input{
    width: 200px;
}
#clickmask {
    width: 30vw;
    height: 82vh;
    display: none;
    background: black;
    opacity: 57%;
    z-index: 30;
    position: absolute;

  }

  