*:focus {
    outline: none;
}
hr {
height: 1px;
border: none;
background-color: var(--gray-color);
/* border: solid 0.5px var(--gray-color); */
width: 85%;
margin: 10px 0 20px 0;
}
table tr {
    padding-bottom: 5px;
}
.content {
float:left;
width: 75vw;
height: 100vh;
padding: 10px 0px 30px 70px;
font-size: 16px;
color: var(--text-gray);
}
.content .card {
    margin: 10px 0 10px 120px ;
    padding-top: 20px;
    border: 1px solid var(--gray-color);
    width: 40vw;
    height: 200px;
}
.content > .card > .info {
    width: 35vw;
    float: left;
    padding-left: 30px;
}
 .card .bsname {
    color: var(--black-color);
    font-size: 14px;
}
.card .fa-star {
    color: var(--text-red);
}
#mymark_title {
    display: inline-block;
    color: var(--black-color);
    font-weight: bold;
    font-size: 22px;
}
.btn_mark{
    background: none;
    border: 0.5px solid var(--gray-color);
}
.btn_mark .fa-heart{
    color: var(--text-red);
    font-size: 25px;
    padding: 5px;
}
.bsaddress{
    color: var(--black-color);
}
.bsschedule{
    border: 0.2px solid var(--gray-color);
    margin-right: 5px;
    font-size: 12px;
}
.bsphone{
    color: darkolivegreen;
}
.btn_detail{
    border: none;
    background: none;
    color: steelblue;
}
.page_btn button {
    width: 30px;
    margin: -2px;
  }
  
  .page_btn_container {
      position: relative;
    text-align: center;
  }
  
  .page_btn {
    box-sizing: border-box;
    display: inline-block;
  }
  
  .page_btn li {
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-decoration: none;
    list-style: none;
    float: left;
    /* width: 40px; */
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    margin-left: -1px;
    cursor: pointer;
  }
  .page_btn li.curPage{
      background: var(--key-color);
  }
  .page_prevBlock {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .page_nextBlock {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }