*:focus {
    outline: none;
}
p{
    margin: 0;
}
hr {
height: 1px;
border: none;
background-color: var(--gray-color);
/* border: solid 0.5px var(--gray-color); */
width: 100%;
margin: 10px 0 20px 0;
}
table tr {
    padding-bottom: 5px;
}
.content {
width: 75vw;
padding: 10px 0px 30px 70px;
font-size: 16px;
color: var(--text-gray);
margin: 0 auto;
}
.content .card {
    position: relative;
    margin: 10px auto;
    border: 1px solid var(--gray-color);
    width: 90%;
    height: 110px;
    /* padding-bottom: 15px; */
    background-color: burlywood;
}
#temp1{
    display: inline-block;
    width: 77%;
    height: 100%;
    /* background-color: chartreuse; */
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
}
#temp1>div{
    padding-left: 30px;
}
#temp2{
    display: inline-block;
    width: 23%;
    height: 100%;
    background-color: chocolate;
    float: left;
    text-align: center;
}
#temp2 button{
    margin-top: 10px;
    width: 90px;
    height: 40px;
    background-color: skyblue;
    border: none;
    border-radius: 10px;
}
#temp3{
    padding-top: 20px;
    /* background-color: coral; */
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
#temp4 {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    /* background-color: cornflowerblue; */
}
#temp4 i{
    display: inline-block;
    padding: 3.5px;
}
#temp3 p{
    display: inline-block;
}
#temp5 {
    margin-left: 7px;
    font-size: 14px;
    color: var(--text-gray);
    /* background-color: crimson; */
}
#temp6 {
    margin-left: 7px;
    font-size: 14px;
    /* background-color: darkkhaki; */
}
#temp7{
    font-size: 12px;
    padding-top: 25px;
    background-color: darkolivegreen;
}
/* .content > .card > .info {
    width: 35vw;
    float: left;
    padding-left: 40px;
}
 .card .bsname {
    color: var(--black-color);
    font-size: 20px;
    font-weight: bold;
}
.card .fa-star {
    color: var(--text-red);
}
#mymark_title {
    display: inline-block;
    color: var(--black-color);
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
}
.btn_mark{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 25px;
    top: 20px;
    background: none;
    border: 0.5px solid var(--gray-color);
}
.btn_mark .fa-heart{
    position: absolute;
    color: var(--text-red);
    top: 1px;
    right: 2px;
    font-size: 25px;
    padding: 5px;
}
.bsaddress{
    color: var(--black-color);
}
.bsphone{
    color: darkolivegreen;
}
.btn_detail{
    border: none;
    background: none;
    color: steelblue;
}
.info p{
    margin-bottom: 10px;
}
#rsvBtn{
    position: absolute;
    right: 25px;
    bottom: 20px;
    background: var(--key-color);
    border: none;
    width: 75px;
    height: 35px;
    border-radius: 7px;
} */
.page_btn button {
    width: 30px;
    margin: -2px;
  }
  
  .page_btn_container {
      position: relative;
    text-align: center;
  }
  
  .page_btn {
    box-sizing: border-box;
    display: inline-block;
  }
  
  .page_btn li {
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-decoration: none;
    list-style: none;
    float: left;
    /* width: 40px; */
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    margin-left: -1px;
    cursor: pointer;
  }
  .page_btn li.curPage{
      background: var(--key-color);
  }
  .page_prevBlock {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .page_nextBlock {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }