*:focus {
    outline: none;
}
p{
    margin: 0;
}
button{
    cursor: pointer;
}
.content hr {
height: 1px;
border: none;
background-color: var(--gray-color);
/* border: solid 0.5px var(--gray-color); */
width: 100%;
margin: 10px 0 20px 0;
}
table tr {
    padding-bottom: 5px;
}
.content {
width: 75vw;
padding: 10px 0px 30px 70px;
font-size: 16px;
margin: 0 auto;
}
#mymark_title {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 35px;
}
.content .card {
    position: relative;
    margin: 10px auto;
    border: 1px solid var(--gray-color);
    width: 80%;
    height: 125px;
    border-radius: 10px;
}
.bsTagLeft{
    display: inline-block;
    width: 77%;
    height: 100%;
    float: left;
    padding-left: 50px;
    box-sizing: border-box;
}
.tagTop{
    padding-top: 30px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
.like {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 32px;
    box-sizing: border-box;
    top: -2px;
}
.like i{
    display: inline-block;
    padding: 5.5px 5.5px;
    font-size: 20px;
}
.tagTop p{
    font-size: 25px;
    display: inline-block;
    margin-left: 10px;
}
.tagBottom {
    margin-left: 7px;
    font-size: 13px;
    color:var(--text-gray);
}
.tagBottom i{
    margin:0 4px;
}
.tagBottom span{
    margin: 0 5px;
}
.bsTagRight{
    display: inline-block;
    width: 23%;
    height: 100%;
    float: left;
    text-align: right;
    padding: 8px 70px 0 0;
    box-sizing: border-box;
}
.fa-star{
    color: yellow;
}
.fa-heart{
    color: red;
}
.bsTagRight button{
    margin-top: 10px;
    width: 110px;
    height: 40px;
    border: none;
    font-size: 14px;
    border-radius: 30px;
    letter-spacing: 2px;
}
#modal_container{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 22vw;
    height: 32vw;
    background-color: white;
    border: 1px solid lightgray;
    /* border-radius: 10px; */
    /* box-shadow: 5px 12px 5px rgb(212 212 212); */
    overflow-y: scroll;
    padding: 40px;
    /* box-sizing: border-box; */
    z-index: 1000;
}
#modal_close{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 36px;
    height: 36px;
    border: 1px solid;
    background: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
#modal_container hr{
    height: 1px;
    border: none;
    background: gray;
}
#modal_container td{
    padding: 11px 0;
}
/* #modal_leftBody{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    padding: 15px 20px;
} */
.modal_Header{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
}
#single_option{
    width: 100%;
    padding: 0 10px 30px 10px;
}
#single_option tr{
    padding: 5px 0;
    text-align: left;
}
.resOpc{
    width: 50px;
}
#single_option tr td:nth-child(1){
    width: 45%;
}
#single_option tr th:nth-child(3),
#single_option tr td:nth-child(3){
    text-align: right;
    padding-right: 10px;
}
#totalRow{
    padding: 20px 0 !important;
}
#totalLabel{ 
    font-weight: 600; 
    font-size: 18px;
}
.totalAll{
    bottom: 5px;
    font-weight: 600;
    font-size: 25px;
    text-align: right;
    padding-right: 10px !important;
    color: rgb(152 206 255);
}
#modal_footer{
    width: 100%;
}
.userInfo{
	padding:10px 0;
    border-bottom: 1px dotted black;
}
.bsInfo{
    padding:10px 0;
    border-bottom: 1px dotted black;
}
#terms{
    margin: 20px 0;
} 
.termsInfo input:nth-child(2){
	width: 100%;
    height: 28px;
    margin-block-end: 6px;
    font-size: 14px;
    border: 1px solid lightgray;
    margin-top: 0;
    text-align: center;
    box-sizing: border-box;
}
.termsInfo input:nth-child(3){
	width: 100%;
    height: 28px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    text-align: center;
    box-sizing: border-box;
}
#cancelTerms{
    padding: 20px 0;
}
#warning{
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
}
#cancelInfo {
    color: lightgray;
    font-size: 14px;
    border-left: 5px solid var(--gray-color);
    padding-left: 10px;
}
.comBtnDiv{
    width: 100%;
    text-align: center;
}
.comBtnDiv button{
    width: 100px;
    height: 45px;
    border-radius: 30px;
    border: 0px;
    font-size: 14px;
    text-align: center;
    margin: 20px 10px 0px; /*상 좌우 하*/
    background-color: var(--key-color);
}
#agreement{
    border: 1px solid lightgray;
}
#agreement div {
    height: 50%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#agreementTop {
    border-bottom: 1px solid lightgray;
}
#agreement i{
    position: relative;
    top: 4px;
    cursor: pointer;
}
#agreement .termsText{
    display: none;
    font-size: 14px;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    height: 110px;
    overflow-y: scroll;
}
#agreement .termsText:nth-child(2){
    border-bottom: 1px solid lightgray;
}
#agreement .termsText:nth-child(4){
    border-top: 1px solid lightgray;
}