.my_container {
    display: flex;
}
.nav2 {
    width: 173px;
    height: 100%;
}
.nav2 div {
    width: 100%;
    height: 88px;
    background: var(--key-color);
    display: table;    
}
.nav2 div p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.content {
    padding: 0 40px;
}
.content hr {
    margin-bottom: 30px;
}
.rsvList {
    padding: 0 40px;
}
.selected{
background: var(--key-color);
}
.rsvBox {
    margin-right: 20px;
    padding: 10px;
    border: 2px solid var(--black-color);
    padding: 20px 40px;
}
.rsvTable {
width: 99%;
height: 238px;
}
.rsvTable th {
text-align: left;
}
.rsvTable .column {
    text-align: left;
    width: 80px;
}
.btnDiv {
    text-align: center;
}
.rsvBox button {
width: 174px;
height: 65px;
margin: 0 3vw;
background: var(--key-color);
border-radius: 30px;
}
.rsvTable .fas {
    color: rgb(253, 107, 107);
}
.like {
    float: right;
    text-align: center;
    width: 30px;
    height: 18px;
    padding: 5px 0;
    border: 1px solid var(--black-color);
    border-radius: 10px;
}
.none {
    display: none;
}
.detail .receipt {
    text-align: center;
    width: 100%;
}
.detail .receipt .laundry,
.detail .receipt .count{
    padding: 10px 0;
    width: 33%;
}
.detail .result {
    text-align: center;
    padding: 12px 0;
    width: 100%;
    font-size: 20px;
}
.detail .result th,
.detail .result td{
    width: 33%;
}
.detail .result td span {
    color:var(--key-color);
}

.page_btn button {
  width: 30px;
  margin: -2px;
}

.page_btn_container {
  text-align: center;
}

.page_btn {
  box-sizing: border-box;
  display: inline-block;
}

.page_btn li {
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-decoration: none;
  list-style: none;
  float: left;
  /* width: 40px; */
  padding: 5px 10px;
  text-align: center;
  font-size: 13px;
  margin-left: -1px;
}

.page_first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.page_last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}