button,select{
    cursor: pointer;
}
.content {
    float:left;
    width: 75vw;
    height: 100vh;
    padding: 40px 70px;
}
.content_header {
    display: flex;
}
.content_header p {
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto 0 10px;
}
.content hr {
    border: none;
    background: var(--gray-color);
    height: 1px;
    margin-bottom: 30px;
}
p{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}
.content_header .searchBox{
    position: relative;
    margin: 0 0 0 auto;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--gray-color);
    background-color: white;
}
.searchBox .search {
    right: 33px;
    position: absolute;
    width: 52%;
    height: 100%;
    border: 0;
    outline: none;
    background-color: white;
}
.searchBox i{
    position: absolute;
    top: 7px;
    right: 13px;
    cursor: pointer;
}
.searchBox select{
    position:absolute;
    border:0px;
    appearance:none;
    outline: none;
    border-radius: 20px;
    top: 8px;
    left: 8px;
    /* color: #6D6D6D; */
    text-align-last: center;
    background-color: white;
}
.processHeader{
    width: 100%;
    border:1px solid var(--gray-color);
}
.processHeader tr th{
    width: 11%;
    border: none;
    padding: 10px 0;
}
.processList {
    width: 100%;
    border: 1px solid var(--gray-color);
    text-align: center;
    margin-bottom: 5px;
    min-height: 85px;
}
.processList tr{
    position: relative;
}
.processList tr td{
    padding: 10px 0;
    width: 11%;
    border: none;
}
.processList tr td:nth-child(9){
    position: relative;
}
.processList tr td:nth-child(9) div {
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    width: 60%;
    height: 80%;
    color: black;
}
.processList tr td:nth-child(9) div button:nth-child(1) {
    position: relative;
    height: 47%;
    background: rgb(251, 135, 135);
    border: 1px solid red;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
}
.processList tr td:nth-child(9) div button:nth-child(2) {
    position:relative;
    height: 47%;
    background: rgb(129, 129, 248);
    border: 1px solid blue;
    width: 100%;
    font-size: 14px;
}
.completeList {
    width: 100%;
    border: 1px solid var(--gray-color);
    text-align: center;
    margin-bottom: 5px;
    min-height:85px;
}
.completeList tr{
    position: relative;
}
.completeList tr td{
    padding: 10px 0;
    width: 11%;
    border: none;
}
.completeList tr td:nth-child(9){
    position: relative;
}
.completeList tr td:nth-child(9) button {
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background: var(--key-color);
    width: 60%;
    height: 50px;
    color: white;
    border: none;
}
#modal_container{
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 364px;
    height: 225px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    /* box-shadow: 5px 12px 5px rgb(212, 212, 212); */
    z-index: 1000;
}
#modal_close{
    float: right;
    width: 36px;
    height: 36px;
    border: 1px solid;
    background: white;
    margin: 18px 20px 0 0;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
#modal_foot{
    width: 100%;
    display: inline-block;
    text-align: center;
}
#modal_foot p{
    font-size: 20px;
    font-weight: bold;
}
#review_btn button{
    margin: 15px 20px;
    border: none;
    width: 96px;
    height: 34px;
    border-radius: 18px;
    cursor: pointer;
}
#review_btn button:hover{
    background: rgba(143, 188, 255, 0.48);
}
.page_btn button {
  width: 30px;
  margin: -2px;
}

.page_btn_container {
    position: relative;
  text-align: center;
}

.page_btn {
  box-sizing: border-box;
  display: inline-block;
}

.page_btn li {
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-decoration: none;
  list-style: none;
  float: left;
  /* width: 40px; */
  padding: 5px 10px;
  text-align: center;
  font-size: 13px;
  margin-left: -1px;
  cursor: pointer;
}
.page_btn li.curPage{
    background: var(--key-color);
}
.page_prevBlock {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.page_nextBlock {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#modal_userInfo{
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 415px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    /* box-shadow: 5px 12px 5px rgb(212, 212, 212); */
    z-index: 1000;
}
#userInfo_bodycont{
    clear: both;
    margin: 20px 45px 0 45px;
    height: 170px;
}
#modal_userInfo hr{
    height: 1px;
    width: 80%;
    background-color: var(--gray-color);
}
#modal_userInfo h2{
    text-align: center;
    margin-top: 30px;
    margin-left: 14px;
    color: var(--text-gray);
}
#userInfo_bodycont tr{
    margin-top: 5px;
    padding: 5px;
    height: 32px;
}
#userInfo_bodycont th{
    width: 82px;
    text-align: left;
    vertical-align: initial;
    color: var(--text-gray);
}

.btn_info{
    background: none;
    border: none;
    font-size: 16px;
}
.btn_info:hover{
    font-weight: bold;
}