button{
    cursor: pointer;
}
/* 사이드바영역 */
.content {
    float:left;
    width: 75vw ;
    height: 100vh;
    padding: 11px;
}
.content hr {
	border:0px;
	background:var(--gray-color);
	height:1px;
    margin-bottom: 30px;
}
.content_header {
	font-size:21px;
	font-weight:bold;
	padding-left:25px;
}
.rsvList {
    position:relative;
}
.selected{
background: var(--key-color);
}
.rsvBox {
	position:relative;
    width: 550px;
    margin: 0 auto 30px auto;
    border: 1px solid var(--gray-color);
    padding: 25px 52px;
}
table.rsvTable {
width: 100%;
height: 200px;
border-collapse: collapse;
}
.rsvList .detailBtn {
    margin:0 60px;
}
.rsvTable th {
text-align: left;
font-size: larger;
}
.rsvTable .column {
    text-align: left;
    width: 100px;
    color: #616161;
}
.btnDiv {
    margin: 25px 0;
    text-align: center;
}
.rsvBox button {
width: 120px;
height: 55px;
background: #8FBCFF;
opacity: 0.6;
border-radius: 31px;
border: 0px;
font-size:14px;
}
.rsvTable .fas {
    color: rgb(253, 44, 44,0.8);
}
.rsvTable .unlike{/*찜이 되어있지 않을 경우*/
    color: gray !important; 
}
.rsvTable tr:nth-child(1) span {
    font-size: 14px;
}
.like {
    float: right;
    text-align: center;
    font-size: 28px;
    width: 45px;
    height: 30px;
    padding: 5px 0;
    /* border: 1px solid var(--gray-color); */
    border: none;
    cursor: pointer;
}
.none {
    display: none !important;
}
.detail .receipt {
    text-align: center;
    width: 100%;
}
.detail .receipt .laundry,
.detail .receipt .count{
    padding: 10px 0;
    width: 33%;
}
.detail .result {
    text-align: center;
    padding: 12px 0;
    width: 100%;
    font-size: 20px;
}
.detail .result th,
.detail .result td{
    width: 33%;
}
.detail .result td span {
    color:var(--key-text);
}

.page_btn button {
  width: 30px;
  margin: -2px;
}

.page_btn_container {
    position: relative;
  text-align: center;
}

.page_btn {
  box-sizing: border-box;
  display: inline-block;
}

.page_btn li {
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-decoration: none;
  list-style: none;
  float: left;
  /* width: 40px; */
  padding: 5px 10px;
  text-align: center;
  font-size: 13px;
  margin-left: -1px;
  cursor: pointer;
}
.page_btn li.curPage{
    background-color: var(--gray-color);
    /* background-color: gray; */
}
.page_prevBlock {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.page_nextBlock {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.comments {
    position: relative;
    width: 527px;
    text-align: left;
    padding: 40px 10px 20px 10px;
    margin-top: 20px;
    height: 75px;
    border: 1px solid var(--gray-color);
}
.comments_header {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 0;
    padding-top: 8px;
    right: 10px;
}
.comments_header span {
    color: var(--gray-color);
}
.comments textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 2px;
    outline-color: var(--key-color);
}
.comments label.writer {
    position: absolute;
    left: 5px;
    padding: 10px;
    top: 0;
}
.comments_header button {
    background-color: unset;
    width: auto;
    height: 25px;
    border-radius: 0;
    cursor: pointer;
}
.comments_header button:hover{
    text-decoration: underline;
}
.comments_bottom button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 40px;
    border-radius: 0;
    color: white;
    cursor: pointer;
}
.comments_bottom span{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: var(--gray-color);
    font-size: 14px;
}
.comments_view {
    position: relative;
    width: 527px;
    text-align: left;
    padding: 0 10px 10px 10px;
    margin-top: 20px;
    font-size: 14px;
}
.comments_writer {
    position: relative;
    display: flex;
}
.comments_writer p{
    margin: 10px 0 5px;
    font-weight: bold;
}
.userNum{
    color: var(--gray-color);
    font-weight: unset;
    font-size: 10px;
}
.dotBtn{
    margin-top: 5px;
    margin-left: auto;
    cursor: pointer;
}
.popMenu {
    position: absolute;
    right: 10px;
    width: 50px;
    height: 60px;
    top: 30px;
}
.popMenu button:nth-child(1) {
    margin-bottom: -1px; /*테두리 눈 속임*/
}
.popMenu button {
    text-align: center;
    border: 1px solid var(--gray-color);
    background-color: white;
    height: 50%;
    width: 50px;
    opacity: 1;
    border-radius: 0;
    cursor: pointer;
}
.popMenu button:hover{
    background-color: var(--key-color);
}
.dotBtn:after {
    content: '\2807';
    font-size: 20px;
}
.comments_content {
    word-break: break-all;
}
.commRdate {
    margin-top: 5px;
    font-size: 12px;
    color: var(--gray-color);
}
.comments_btn button{
    border-radius: 0;
    width: 50px;
    height: 30px;
    margin-top: 10px;
    background-color: unset;
    border: 1px solid var(--gray-color);
}
.comments_reply {
    position: relative;
    display: inline-block;
    width: 516px;
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 14px;
    border-top: 1px solid var(--gray-color);
}
.comments_reply_inner{
    position: relative;
    left: 28px;
    top: -20px;
    width: 486px;
}
.comments_reply_writer p{
    font-weight: bold;
    margin: 0 0 5px 0;
}
.comments_reply_header {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 0;
    padding-top: 8px;
    right: 10px;
}
.comments_reply_header span {
    color: var(--gray-color);
}
.comments_reply textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 2px;
    outline-color: var(--key-color);
}
.comments_reply label.writer {
    position: absolute;
    left: 5px;
    padding: 10px;
    top: 0;
}
.comments_reply button {
    position: absolute;
    /* background-color: var(--key-color); */
    bottom: 0;
    right: 0;
    width: 60px;
    height: 40px;
    border-radius: 0;
    color: white;
    /* border: none; */
}
.comments_reply_bottom span{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--gray-color);
    font-size: 14px;
}
#modal_container{
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 364px;
    height: 580px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 12px 5px rgb(212, 212, 212);
}

#starVal{
    float: left;
    margin-left: 21px;
    font-size: 36px;
    width: 28px;
    height: 44px;
    border: 0px;
    background: none;
    padding-bottom: 14px;
    text-align: center;
    color: rgba(97, 97, 97, 1);
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
}

.fa-times{
    margin: 20px 25px 0 0;
    cursor: pointer;
    float: right;
    color: var(--gray-color);
}

#modal_bodycont{
    margin-top: 28px;
    height: 80%;
    padding-block: 14px;
}

#modal_head{
    width: 80%;
    height: 80px;
    text-align: center;
    margin: 0 auto;
}

#modal_foot{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    display: inline-block;
    text-align: center;
}
#review_sub {
    position: absolute;
    right: 42px;
    bottom: -242px;
    font-size: 12px;
    color: lightgray;
}
#review_text{
    width: 80%;
    background-color:rgba(249, 249, 249, 1);
    border-radius: 4px;
    resize: none;
    border: 1px solid lightgray;
    outline: none;
    height: 240px;
    padding: 10px;
}
#review_btn button{
    margin: 25px 20px;
    border: none;
    width: 96px;
    height: 40px;
    /* background: var(--key-color); */
    border-radius: 18px;
    cursor: pointer;
}
#review_btn button:hover{
    background-color: var(--key-color);
}
/* 별 css */
/* rating */
.rating-group { display: inline-flex; float: right; margin-right: 23px;}
.rating__icon { pointer-events: none; }
.rating__input { position: absolute !important; left: -9999px !important; }
.rating__label { cursor: pointer; padding: 0 0.1em; font-size: 2rem; }
.rating__icon--star { color: yellow; }
.rating__icon--none { color: #eee; }
.rating__input:checked ~ .rating__label .rating__icon--star { color: #ddd; }
.rating-group:hover .rating__label .rating__icon--star { color: yellow; }
.rating__input:hover ~ .rating__label .rating__icon--star { color: #ddd; }
.rating-group:hover .rating__input--none:not(:hover )+.rating__label .rating__icon--none{ color: #eee; }