p{
    padding: 0;
    margin: 0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.none{
    display: none;
}
.content {
    float:left;
    width: 65vw;
    height: 100vh;
    padding: 35px 70px;
}
.content_header {
    display: flex;
}
.content_header p {
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto 0 10px;
}
.content hr {
    border: none;
    background: var(--gray-color);
    height: 1px;
    margin-bottom: 30px;
}
.content_header .searchBox{
    position: relative;
    margin: 0 0 0 auto;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--gray-color);
    background-color: white;
}
.searchBox .search {
    right: 33px;
    position: absolute;
    width: 48%;
    height: 93%;
    border: 0;
    outline: none;
    background-color: white;
}
.searchBox i{
    position: absolute;
    top: 7px;
    right: 13px;
    cursor: pointer;
}
.searchBox select{
    position:absolute;
    border:0px;
    appearance:none;
    outline: none;
    border-radius: 20px;
    top: 8px;
    left: 8px;
    /* color: #6D6D6D; */
    text-align-last: center;
    background-color: white;
}
.order {
    display: flex;
    margin-bottom: 5px;
}
.order p {
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto 0 10px;
}
.selectbox {
    position: relative;
    width: 105px;  /* 너비설정 */
    border: 1px solid #999;  /* 테두리 설정 */
    z-index: 1;
    height: 25px;
}
/* 가상 선택자를 활용 화살표 대체 */
.selectbox:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    
}
.selectbox label {
    position: absolute;
    top: -8px;  /* 위치정렬 */
    left: 3px;  /* 위치정렬 */
    font-size: 14px;
    padding: .8em .5em;  /* select의 여백 크기 만큼 */
    color: #999;
    z-index: -1;  /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
    
}
.selectbox select {
    width: 100%;
    height: auto;  /* 높이 초기화 */
    line-height: normal;  /* line-height 초기화 */
    font-family: inherit;  /* 폰트 상속 */
    padding: .4em .5em;  /* 여백과 높이 결정 */
    border: 0;
    opacity: 0;  /* 숨기기 */
    filter:alpha(opacity=0);  /* IE8 숨기기 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.reviewHeader{
    width: 100%;
    border:1px solid var(--gray-color);
}
.reviewHeader tr th{
    padding: 10px 0;
}
.cell1 {
    width: 7%;
}
.cell2 {
    text-align: left;
    width: 41%;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.cell2:hover{
    cursor: pointer;
    text-decoration: underline;
}
.cell3 {
    width: 8%;
}
.cell4 {
    width: 8%;
}
.cell5 {
    width: 12%;
}
.cell6{
    width: 12%;
}
.cell7{
    width: 12%;
}
.open {/*리뷰 내용 펼치기*/
    word-break: break-all;
}
.close {/*리뷰 내용 닫기*/
    white-space: nowrap;
}
.cell7 button{
    border: none;
    margin: 0 3px;
    height: 33px;
    border-radius: 7px;
}
.cell7 button:not(.replyCom) {
    background: var(--key-color);
}
.cell7 button.replyBtn {
    width: 84px;
}
.comments {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
.comments_header {
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
}
.comments_header p {
    margin-right: auto;
}
.comments_header button {
    background-color: unset;
    width: 40px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}
.comments_header button:hover{
    text-decoration: underline;
}
.comments_body{
    position: relative;
}
.comments_body span:nth-child(1){
    position: absolute;
    left: 15px;
}
.comments_body textarea {
    margin-left: 40px;
    width: 95%;
    resize: none;
    border: 1px solid var(--gray-color);
    outline-color: var(--key-color);
}
.comments_body span:nth-child(3) {
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: gray;
    font-size: 12px;
}
.reviewList {
    table-layout: fixed;
    width: 100%;
    margin-top: -0.5px;
    border: 1px solid var(--gray-color);
    text-align: center;
    height: 48px;
}
.replyList {
    table-layout: fixed;
    width: 100%;
    margin-top: -0.5px;
    border: 1px solid var(--gray-color);
    text-align: center;
    height: 48px;
}
.replyCell {
    width: 57%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.replyCell:hover{
    cursor: pointer;
    text-decoration: underline;
}
.page_btn button {
    width: 30px;
    margin: -2px;
} 
  .page_btn_container {
      position: relative;
    text-align: center;
  }
  
  .page_btn {
    box-sizing: border-box;
    display: inline-block;
  }
  
  .page_btn li {
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-decoration: none;
    list-style: none;
    float: left;
    /* width: 40px; */
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    margin-left: -1px;
    cursor: pointer;
  }
  .page_btn li.curPage{
      background: var(--key-color);
  }
  .page_prevBlock {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .page_nextBlock {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #modal_container{
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 364px;
    height: 225px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    /* box-shadow: 5px 12px 5px rgb(212, 212, 212); */
    z-index: 1000;
}
#modal_close{
    float: right;
    width: 36px;
    height: 36px;
    border: 1px solid;
    background: white;
    margin: 18px 20px 0 0;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
#modal_foot{
    width: 100%;
    display: inline-block;
    text-align: center;
}
#modal_foot p{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
#review_btn button{
    margin: 15px 20px;
    border: none;
    width: 96px;
    height: 34px;
    border-radius: 18px;
    cursor: pointer;
}
#review_btn button:hover{
    background: rgba(143, 188, 255, 0.48);
}