.side{
    background-color: rgb(44, 44, 44);
    width: 11vw;
    height: 100vh;
    float: left;
}
.side_sub{
    float: left;
    background-color: white;
    border-right: 1px solid var(--gray-color);
    width: 11vw;
    height: 100vh;
    /* display: none; */
}
.side button {
    width: 100%;
    height: 10%;
    border : none;
    background-color: rgb(44, 44, 44);
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.side button:hover{ 
    background-color: white; color: rgb(44, 44, 44); 
}
.side_select {
	background-color:white !important;
	color: rgb(44, 44, 44) !important;
}
.side_sub_select{
	font-weight:bold;
}
.side_sub button{
    width: 100%;
    height: 10%;
    border : none;
    font-size: 17px;
    color:  rgb(44, 44, 44);
    background-color: white;    
}
.side_sub button:hover{  font-weight: bold;  }
/* 제가 작업하는 페이지의 경우 padding 과 width 값이 저렇게 들어가는데, 다른 페이지는 어떻게 되는지 몰라서
.content 부분은 각자 css 지정해주시는 게 좋을듯 합니다. 
저의 경우 이렇게 주석처리 해놓고 본문 css에서 처리하고 있습니다. 사용에 유의하시기 바랍니다. 
.content {
    float:left;
    width: 75vw ;
    height: 100vh;
    padding: 11px;
}
*/