.body_container {
  text-align: center;
}

.select {
  display: flex;
  justify-content: center;
  margin: auto;
  /* background-color: var(--gray-color); */
}

.btn {
  border: solid 1px black;
  width: 300px;
  height: 300px;
  padding: 30px;
  margin: 20px;
  margin-top: 90px;
  justify-content: center;
}

/* .btn {
 
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
}
*/
.select i {
  padding: 40px;
}
